name: test
on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        java: [8, 11, 17]
        scala: [2.13.6, 3.0.2]
    runs-on: ubuntu-latest
    if: ${{ github.event_name != schedule }}
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: coursier/cache-action@v6
    - uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: ${{matrix.java}}
    - name: Test
      run: sbt "setScalaVersion ${{matrix.scala}}" test core/headerCheck package

  test-rc:
    strategy:
      fail-fast: false
      matrix:
        java: [8]
        scala: [3.next]
    runs-on: ubuntu-latest
    if: ${{ github.event_name == schedule }}
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: coursier/cache-action@v6
    - uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: ${{matrix.java}}
    - name: Test
      run: sbt "setScalaVersion ${{matrix.scala}}" test core/headerCheck package
