name: test
on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        java: [8, 11, 17, 21]
        scala: [2.13.x, 3.x]
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'schedule' }}
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - uses: coursier/cache-action@v7
    - uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: ${{matrix.java}}
    - uses: sbt/setup-sbt@v1
    - name: Test JVM
      run: sbt "setScalaVersion ${{matrix.scala}}" testJVM core/headerCheck package
    - name: Test Native
      run: sbt "setScalaVersion ${{matrix.scala}}" testNative

  test-rc:
    strategy:
      fail-fast: false
      matrix:
        java: [17]
        scala: [3.next]
    runs-on: ubuntu-latest
    if: "github.event_name == 'schedule' && github.repository == 'scala/scala-parallel-collections'
         || github.event_name == 'push'
         || (
           github.event_name == 'pull_request'
           && contains(github.event.pull_request.body, '[test-rc]')
         )"
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - uses: coursier/cache-action@v7
    - uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: ${{matrix.java}}
    - uses: sbt/setup-sbt@v1
    - name: Test
      run: sbt "setScalaVersion ${{matrix.scala}}" testJVM core/headerCheck package
